@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    Layout = null;
}

<link href="~/Theme/assets/css/style.css" rel="stylesheet">

<div class="page">
    <div class="page-conatiner">
        <div class="page-content">
            <div>
                <h1>متاسفیم!</h1>
                <p>صفحه مورد نظر پیدا نشد</p>
                <span>خطای 404</span>
                <a asp-page="./Index">بازگشت به خانه</a>
            </div>
            <img src="/img/1.jpg" alt="">

        </div>
    </div>
</div>
